langchain==0.2.10
langchain-community==0.2.9
langchain-core==0.2.22
langchain-openai==0.1.17
langchain-text-splitters==0.2.2
langchain-google-genai
langchain_chroma==0.1.2
langchainhub==0.1.20
langserve>=0.0.30

openai==1.59.8
python-dotenv==1.0.1
fastapi==0.111.1

httpx>=0.24.0,<0.28.0
sse_starlette==2.1.2
uvicorn

bs4==0.0.2
faiss-cpu==1.8.0.post1
tqdm==4.66.4
tiktoken==0.7.0

